.my_navbar {
  background-color: var(--theme) !important;
  padding-left: 40px !important;
  padding-right: 40px !important;
  z-index: 2 !important;
}

.header_toggler, .header_toggler:focus {
  outline: none;
}

.header_toggler > div{
  background-color: white;
  height: 4px;
  width: 34px;
  margin: 4px;
  border-radius: 5px;
}

.my_nav_link {
  color: white;
  margin: 8px 0px 8px 20px;
}
.my_nav_link:hover {
  color: #7f8c8d;
}





/* .header_toggler.is-active > div:nth-child(1){
   height: 5px;
   width: 15px;
   margin: -11px;
   transform: rotate(-45deg);
   margin-left: 8px;
   margin-bottom: 5px;
}

.header_toggler.is-active > div:nth-child(2){
   height: 5px;
   width: 34px;
   margin: 4px;
   transform: rotate(90deg);
}

.header_toggler.is-active > div:nth-child(3){
   height: 5px;
   width: 15px;
   margin: 4px;
   transform: rotate(45deg);
   margin-left: 19px;
   margin-top: -19px;
} */